*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-gap: 10px;
    /* grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
   grid: 1fr 2fr 1fr / repeat(4,1fr);
   grid-template-areas: 
   "header header header header"
   "main main main aside"
   "footer footer footer aside";

}

[class^="item"]{
    color: #fff;
}

header{
    background: #d44b0b;
    grid-area: header;
}
main{
    background: #02237e;
    grid-area: main;
}
aside{
    background: #47018a;
    grid-area: aside;
}
footer{
    background: #940909;
    grid-area: footer;
}

@media screen and (max-width: 600px){
    .container{
        grid: 1fr 1fr 1fr / repeat(3,1fr);
        grid-template-areas: 
        "header header aside"
        "main main aside"
        "footer footer aside";
    }
}