*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    height: 600px;
    width: 600px;  
    background: #09024b;
    grid-gap:10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-columns: repeat(auto-fill, 100px); */
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
}

[class^="item"]{
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.item1{
    background: #cfa107;
}
.item2{
    background: #156920;
}
.item3{
    background: #064d50;
}
